
@media(max-width: 1024px){
    .categories{
        grid-template-columns: 1fr 1fr 1fr;    
    }

    body.archive {
        ul.products{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            
            .product{
                width: 100%!important;
                margin-right: 0!important;
                margin-bottom: 0!important;
            }
        }
    }

    .about_container{     
        gap: 20px;
        
        .about_right{           
    
            .about_link_wrap{                
                min-height: 150px;
                background-position-x: 60px;
            }            
        }
    }

    .buy_texts_container{
        grid-template-columns: 1fr 1fr 1fr;
    }


}

@media(max-width: 791px){
    .horizontal_form {        
        .wpcf7-form {  
            gap: 8px;   
        }
    }
}

@media(max-width: 768px){
    .header_container{

        .header_wrapper{

            .header_top{


                .header_contacts{
                    gap: 10px;

                    .header_phone-link{
                        display: none;
                    }

                    .header_phone-link-mob{
                        display: flex;
                    }                    

                    .socials_links{
                        display: flex;
                        gap: 10px;
                        font-size: 24px;
                    }

                    a{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 40px;
                        font-size: 24px;
                        border: 1px solid $blue;
                        border-radius: 50%;
                        padding: 5px;
                    }
                }

                .header_actions{

                    .search_icon_mob{
                        display:flex
                    }
                }


            }

            .header_middle{

                .header_search{
                    max-width: 150px;
                }
            }
        }
    }


    .main_banner{    
        .slick-track{
            .banner{
                img{
    
                    &.main_banner_desk{
                        display: none;
                    }
    
                    &.main_banner_mob{
                        display: block;
                        height: 250px;
                        object-fit: cover;
                    }
                }
            }
        }        
    }

    .categories{
        grid-template-columns: 1fr 1fr;    
    }

    .featured_products{
        .slick-track{    
            .featured_product{    
                .featured_product_img{
    
                    img{
                        height: 200px;
                    }
                }
    
                .featured_product_content{
                    padding: 10px; 
                }
            }
        }
    }

    .horizontal_form {        
        
        .wpcf7-form {  
            flex-wrap: wrap;   
            .wpcf7-form-control-wrap{
                width: 49%;

                .wpcf7-form-control{
                    height: 35px;

                    textarea{
                        padding-top: 5px;
                    }
                }
            }
            
            .wpcf7-form-control{    
                &.wpcf7-submit{
                    width: 49%;
                    height: 35px;
                }
            }     
        }
    }

    .archive{
        .shop_grid{
            position: relative;

            .sidebar_shop{
                position: absolute;
                left: -400px;

                &.active{
                    left: 0;
                }
            }

            .product_grid{
                width: 100%;
            }
        }
    }

    .about_container{
        display: flex;
        flex-direction: column;
    
        .about_left, .about_right{
            width: 100%;            
        }
        
    }

}

@media(max-width: 600px){
    .header_container{

        .header_wrapper{

            .header_top{
                flex-wrap: wrap;                

                .header_top_left{
                    width: 100%;
                    margin-bottom: 10px;
                    justify-content: space-between;

                    .header_top_middle{
                        display:block;
                    }
                }

                .header_contacts,
                .header_actions{
                    width: 50%;
                    justify-content: center;
                    gap: 10px; 

                    a{                        
                        width: 30px;
                        height: 30px;
                        font-size: 18px;
                    }

                    .search_icon_mob{
                        width: 30px;
                        height: 30px;
                        font-size: 18px;
                    }
                }
            }

            .header_middle{

                .header_search{
                    display: none;
                }

                .middle_menu{
                    width: 100%;
                    padding: 5px 0;

                    .menu_list{
                        width: 100%;
                        justify-content: space-between;

                        .menu_item{

                            &::after{
                                display:none;
                            }

                        }
                    }
                }
            }
        }
    }

    body.archive {
        ul.products{            
            grid-template-columns: 1fr;
        }
    }

    .featured_products{
        .slick-track{
            display: block;
        }
    } 

    .horizontal_form {        
        
        .wpcf7-form {  
            gap: 5px;                 
        }
    }   
    
    .buy_texts_container{
        grid-template-columns: 1fr 1fr;
    }

    footer{    
        .footer_top{
            flex-wrap: wrap;
            .footer_top_left{
                width: 100%;
                margin-bottom: 20px;

                .menu_list{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                    align-items: center;
                    justify-content: center;
                }    
            }
    
            .footer_top_middle{
                width: 50%;
            }
    
            .footer_top_right{
                width: 50%;
    
                .contacts{
    
                    .socials_links{
                        
                    }
                }
    
                .footer_html_sitemap{

                }            
            }
        }
        
        .footer_bottom{
            justify-content: space-between;
    
            a{

            }    
        }
    }
}

@media(max-width: 500px){
    .categories{
        grid-template-columns: 1fr;    
    }
}

@media(max-width: 400px){
    .buy_texts_container{
        grid-template-columns: 1fr;
    }
}
