$orange: #ffa500;
$black: #000;
$blue: #2467ef;
$gray: #F0F0F0;
$white: #fff;
$main_font: "Montserrat";

body{
    font-family: $main_font;
}

.container{
    max-width: 1470px;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
}

a{
    color: $blue;

    &.btn{
        background: linear-gradient(135deg, $blue 50%, $orange 50%);
        background-size: 300%;
        border: 1px solid $blue;
        background-position: left;
        transition:all .5s;
        border-radius: 5px;
        color: $white;

        &:hover{
            border: 1px solid $orange;
            color: $white;
            background-position: right;
        }
    }
}

a:hover{
    color: $orange;
}

section{
    display: flex;
    justify-content: center;
}

.btn{
    background: linear-gradient(135deg, $blue 50%, $orange 50%);
    background-size: 300%;
}
