@import "reset";
@import "fonts";
@import "all";

// HEADER 

.header_container{
    display: flex;
    justify-content: center;
    box-shadow: 0px 2px 20px -10px $black;

    &.fix{
        position: fixed;
        z-index: 5;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        width: 100%;
        padding: 5px 20px;
    }

    .header_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        &>div{
            padding: 5px 0px;
        }

        &>div:not(:last-child){
            border-bottom: 1px solid $gray;            
        }

        .header_top{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .header_top_left{
                display: flex;
                align-items: center;

                .logo_wrapper{
                    padding-right: 10px;                    

                    .logo_img {
                        width: 150px;
                        object-fit: contain;
                        height: auto;
                    }
                }
    
                .city_list{
                    
                }                
            }           

            .header_contacts{
                display: flex;
                flex-direction: column;
                gap: 5px;
                align-items: center;


                .header_phone-link{

                }

                .socials_links{
                    display: flex;
                    gap: 5px;
                    font-size: 20px;
                }
            }

            .header_actions{
                display: flex;
                gap: 20px;

                a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 40px;
                    font-size: 24px;
                    border: 1px solid $orange;
                    border-radius: 50%;
                    padding: 5px;
                    color: $orange;
                    background: linear-gradient(135deg, white 50%, $blue 50%);
                    background-size: 300%;
                    background-position: left;
                    transition:all .5s;
                    position: relative;

                    &:hover{
                        border-color: $blue;
                        background-color: $blue;
                        color: $white;
                        background-position: right;

                        &::after{
                            content: attr(data-title);
                            position: absolute;
                            z-index: 1; 
                            background: $white;                             
                            font-size: 11px;
                            padding: 5px; 
                            border: 1px solid $blue;
                            border-radius: 5px;
                            color: $blue;
                            left: 50%;
                            transform: translate(-50%, 40px);
                        }
                    }


                }

            }
        }

        .header_middle{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;                 

            .middle_menu{

                .menu_list{
                    display: flex;                    

                    .menu-item{

                        &::after{
                            content: "";
                            border-left: 1px solid $gray;
                            align-self: stretch;
                            margin: 0px 5px;
                        }

                        &:last-child::after{
                            display: none;
                        }
                    }
                }
            }

            .header_search{

            }
        }

        .header_bottom{

        }


        
    }
}

// MAIN PAGE

.main_banner{
    
    .slick-track{
        // padding: 5px;
        // display: flex;
        // gap: 10px;

        .banner{
            //box-shadow: 0px 0px 12px -10px $black;
            border-radius: 10px;

            img{
                border-radius: 10px;

                &.main_banner_desk{
                    height: 300px;
                    object-fit: cover;
                }

                &.main_banner_mob{
                    display: none;
                }
            }
        }
    }

    
}

.categories{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;

    .category{
        border: 1px solid $gray;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0px 0px 12px -10px $black;
        transition:all .5s;

        &:hover{
            box-shadow: 0px 0px 11px -5px $orange;
        }

        .category_parent_link {
            font-weight: 600;
        }

        .child_categories_list{
            padding: 10px 0px 10px 20px;

            .child_category{
                padding-bottom: 5px;
            }
        }
    }
}

.featured_products{

    .slick-track{
        display: flex;
        gap: 20px; 
        padding: 20px 0px;

        .featured_product{
            box-shadow: 0px 0px 12px -10px $black;
            border-radius: 10px;
            transition:all .5s;
    
            &:hover{
                box-shadow: 0px 0px 11px -5px $orange;
            }

            .featured_product_img{

                img{
                    border-radius: 10px 10px 0px 0px;
                    object-fit: cover;
                }
            }

            .featured_product_content{
                padding: 10px;
            }
        }
    }
}

.info_block{   
    min-height: 300px;
    box-shadow: 0px 0px 12px -10px $black;
    border-radius: 10px;
    padding: 20px;
    position: relative;

    .info_block_img{                  
        clip-path: polygon(54% 0, 100% 0%, 100% 100%, 0% 100%);
        shape-outside: polygon(54% 0, 100% 0%, 100% 100%, 0% 100%);
        //min-height: 300px;
        height: 100%;
        width: 80%;
        //object-fit: cover;
        float: right;
        margin-left: 20px;
        border-radius: 0 10px 10px 0; 
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 1;   
        transition: all 1s;

        &::before{
            background-color: #ffffff50;
        }

        
    }

    &:hover{
        .info_block_img{
            width: 0%;
        }
    }
    
    .info_block_title{
        //padding-top: 10px;
        font-weight: 500;
        text-transform: uppercase;
        padding-bottom: 20px;
        z-index: 2;
        position: relative;
    }

    .info_block_text{
        padding-bottom: 20px;
        z-index: 2;
        position: relative;
    }

    .info_block_btn{        
        border: 1px solid $blue;
        color: $white;
        font-weight: 500;
        padding: 10px;
        border-radius: 5px;
        background-color: $blue;
        //margin-bottom: 20px;
        z-index: 2;
        position: relative;
    }
}

@import "adaptive";